# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution and packaging
dist/
build/
*.egg-info/

# folder which contains scraped data from GitHub
data/

# Virtual environments  (ML-GAP-Classification- custom venv)
venv/
ML-GAP-Classification/
env/
*.env

# IDE-specific files
.idea/
.vscode/
*.pydevproject

# Miscellaneous
*.pyc
.DS_Store
